body{
    text-align: center;
    background-color: black;
    color: white;
    font-size: 20px;
}
input{
    width: 150px;
}
select{
    width: 150px;
    height: 25px;
}
button{
    width: 300px;
    height: 35px;
}